.header {
	background-color: #fff;
	height: 6.25rem;
	padding: 1.6875rem;
	box-shadow: 0 .25rem .1875rem -.125rem rgba(0, 0, 0, .1);
	position: fixed;
	top: 0;
	z-index: 20;
}

.header__logo {
	display: inline-block;
	vertical-align: middle;
	margin-right: 3.125rem;
	svg {
		width: 7.5625rem;
		height: 1.375rem;
	}
}